<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> Hospital | Dashboard</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Font Awesome Animation-->
	<link rel="stylesheet" href="bower_components/font-awesome/css/fontawesome-animation.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
	<!-- jvectormap -->
	<link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

	<!-- Google Font -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<style>
		#map2 {
			height: 405px;
			/* The height is 400 pixels */
			width: 100%;
			/* The width is the width of the web page */
		}

		.dot {
			height: 15px;
			width: 15px;
			border: 1px solid black;
			opacity: 0.8;
			border-radius: 50%;
			display: inline-block;
		}
	</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">

	<div class="wrapper">
		<header class="main-header">

			<!-- Logo -->
			<a href="#" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b></b></span>
				<!-- logo for regular state and mobile devices -->

				<span class="logo-lg"><b></b></span>

			</a>

			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-envelope-o"></i>
								<span class="label label-success">4</span>
							</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- start message -->
											<a href="#">
												<div class="pull-left">
													<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
													<h4>
														Support Team
														<small><i class="fa fa-clock-o"></i> 5 mins</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
											</a>
										</li>
										<!-- end message -->
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
													<h4>
														AdminLTE Design Team
														<small><i class="fa fa-clock-o"></i> 2 hours</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
													<h4>
														Developers
														<small><i class="fa fa-clock-o"></i> Today</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
													<h4>
														Sales Department
														<small><i class="fa fa-clock-o"></i> Yesterday</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
													<h4>
														Reviewers
														<small><i class="fa fa-clock-o"></i> 2 days</small>
													</h4>
													<p>Why not buy a new awesome theme?</p>
											</a>
										</li>
									</ul>
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul>
						</li>
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-bell-o"></i>
								<span class="label label-warning notifNo"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="header">You have <span class="notifNo">0</span> notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu" id="last5">

										<!--<li>-->
										<!--  <a href="/admins">-->
										<!--    <i class="fa fa-users text-red"></i><span id="newAdmin"> 5</span> new admins have registered.-->
										<!--  </a>-->
										<!--</li>-->
										<!--<li>-->
										<!--  <a href="/reports">-->
										<!--    <i class="fa fa-files-o text-green"></i> <span id="newReport"> 5</span> new reports.-->
										<!--  </a>-->
										<!--</li>-->



									</ul>
								</li>
								<li class="footer"><a href="/notifications">Open Notifications</a></li>
							</ul>
						</li>

						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="https://ui-avatars.com/api/?name=<%=currentUser.fname%>+<%=currentUser.lname%>&background=0D8ABC&color=ffffff&size=300&uppercase=false"
                                    class="user-image" alt="User Image">
								<span class="hidden-xs"><%=capitalize(currentUser.fname)%>
                                    <%=capitalize(currentUser.lname)%></span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header">
									<img src="https://ui-avatars.com/api/?name=<%=currentUser.fname%>+<%=currentUser.lname%>&background=0D8ABC&color=ffffff&size=300&uppercase=false" class="img-circle" alt="User Image">

									<p>
										<%=capitalize(currentUser.fname)%>
										<%=capitalize(currentUser.lname)%> -
										<%=capitalize(currentUser.role)%>

									</p>
								</li>
								<!-- Menu Body -->

								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="/profile" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a href="/logout" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul>
						</li>
						<!-- Control Sidebar Toggle Button -->
						<li>
							<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
						</li>
					</ul>
				</div>

			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="https://ui-avatars.com/api/?name=<%=currentUser.fname%>+<%=currentUser.lname%>&background=0D8ABC&color=ffffff&size=300&uppercase=false" class="img-circle" alt="User Image">
                    </div>
						<div class="pull-left info">
							<p>
								<%=capitalize(currentUser.fname)%>
								<%=capitalize(currentUser.lname)%>
							</p>
							<a href="#"><i class="fa fa-circle  faa-flash animated text-success"></i> Online</a>
						</div>
					</div>


					<!-- sidebar menu: : style can be found in sidebar.less -->
					<ul class="sidebar-menu" data-widget="tree">
						<li class="header">MAIN NAVIGATION</li>
						<li class="active ">
							<a href="#">
								<i class="fa fa-dashboard"></i> <span>Dashboard</span>
							</a>
						</li>
						<% if(currentUser.role=="doctor"){ %>


						<li>
							<a href="/patient_waitingdoc">
								<i class="fa fa-cart-plus"></i>
								<span>View Patient Waiting</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>
						<li>
							<a href="/patient_waitingdoc">
								<i class="fa fa-cart-plus"></i>
								<span>View Patient Waiting</span>
								<span class="pull-right-container">
        </span>
							</a>
						</li>
						<li>
							<a href="/patientshist">
								<i class="fa fa-cart-plus"></i>
								<span>Patient History</span>
								<span class="pull-right-container">
        </span>
							</a>
						</li>
						<% }%>

						<% if(currentUser.role=="receptionist"){ %>


						<li>
							<a href="/register_patient">
								<i class="fa fa-cart-plus"></i>
								<span>Register Patient</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>
						<li>
							<a href="/start_case">
								<i class="fa fa-cart-plus"></i>
								<span>Start Case</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>
						<li class="">
							<a href="/patients">
								<i class="fa fa-inbox"></i>
								<span>View Patients</span>
								<span class="pull-right-container">

                            </span>
							</a>

						</li>
						<% }else if(currentUser.role=='nurse'){%>
						<li>
							<a href="/patient_waitingnurse">
								<i class="fa fa-cart-plus"></i>
								<span>Patient Waiting</span>
								<span class="pull-right-container">
                                </span>
							</a>
						</li>

						<%}else if(currentUser.role=='labTech'){%>
						<li>
							<a href="/patient_waitinglab">
								<i class="fa fa-cart-plus"></i>
								<span>Patient Waiting</span>
								<span class="pull-right-container">
                                </span>
							</a>
						</li>

						<%}else if(currentUser.role=='pharmacist'){%>
						<li>
							<a href="/patient_waitingpharm">
								<i class="fa fa-cart-plus"></i>
								<span>Patient Waiting</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>

						<%}%>
                                                <% if(currentUser.role=="admin"){ %>
						<li>
							<a href="/add_admin">
								<i class="fa fa-plus-square"></i>
								<span>Add Staff</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>

						<li>
							<a href="/staff">
								<i class=" fa fa-users"></i>
								<span>Staff Members</span>
								<span class="pull-right-container">
                            </span>
							</a>
						</li>

						<% } %>

					</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<%if(success && success.length > 0){%>

			<div class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-check"></i> Alert!</h4>
				<%= success %>
			</div>
			<% }%>
			<%if(error && error.length > 0){%>

			<div class="alert alert-warning alert-dismissible">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4><i class="icon fa fa-check"></i> Alert!</h4>
				<%= error %>
			</div>
			<% }%>
			<section class="content-header">
				<h1>
					Dashboard
					<!--<small>Version 2.0</small>-->
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> <%=currentUser.username%></a></li>
					<li class="active">Dashboard</li>

				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<!-- Info boxes -->
				<div class="row">


					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="small-box bg-yellow">
							<div class="inner">
								<h3>
									<%=patients.length%>
								</h3>

								<p>Patients</p>
							</div>
							<div class="icon">
								<i class="fa  fa-ship"></i>
							</div>
							<a href="/patients" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="small-box bg-green">
							<div class="inner">
								<h3>
									<%=cases.length%>
								</h3>


								<p>Cases</p>
							</div>
							<div class="icon">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<a href="#" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="small-box bg-red">
							<div class="inner">
								<h3>
									<%=completedCases.length%>
								</h3>

								<p>Completed cases</p>
							</div>
							<div class="icon">
								<i class="fa fa-comments-o"></i>
							</div>
							<a href="#" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<%if(currentUser.role=='master-admin' || currentUser.role=='admin'){%>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="small-box bg-blue">
							<div class="inner">
								<h3>
									<%=users.length%>
								</h3>

								<p>Users</p>
							</div>
							<div class="icon">
								<i class="ion ion-person-add"></i>
							</div>
							<a href="/staff" class="small-box-footer">
								More info <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
					<%}%>
                                            <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- /.row -->

                                <!-- Main row -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- TABLE: LATEST ORDERS -->
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Recent Added Patients</h3>

                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
                                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="table-responsive">
                                                    <table class="table no-margin">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Name</th>
                                                                <th>email</th>

                                                                <th>citizenhip</th>





                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%patients.map((each,i)=>{%>
					<tr>
						<td>
							<%= i+1 %>
						</td>
						<td>
							<%=each.fname%>
							<%=each.lname%>
						</td>
						<td>
							<%= each.email %>
						</td>
						<td>
							<%= each.citizenship %>
						</td>

					</tr>
					<%})%>
					</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">

			<a href="/patients" class="btn btn-sm btn-info btn-flat pull-right"> All patients
			</a>
		</div>
		<!-- /.box-footer -->
	</div>
	</div>
	<!-- right col -->
	<div class="col-md-6">
		<!-- TABLE: LATEST ORDERS -->
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Latest joined Users</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
					<button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                                class="fa fa-times"></i></button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="table-responsive">
					<table class="table no-margin">
						<thead>
							<tr>
								<th></th>
								<th>Name</th>
								<th>email</th>

								<th>role</th>





							</tr>
						</thead>
						<tbody>
							<%users.map((each,i)=>{%>
							<tr>
								<td>
									<%= i+1 %>
								</td>
								<td>
									<%=each.fname%>
									<%=each.lname%>
								</td>
								<td>
									<%= each.email %>
								</td>
								<td>
									<%= each.role %>
								</td>

							</tr>
							<%})%>
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.box-body -->
			<div class="box-footer clearfix">

				<a href="/staff" class="btn btn-sm btn-info btn-flat pull-right">View All
					users</a>
			</div>
			<!-- /.box-footer -->
		</div>
	</div>
	</div>

	<div class="row">
		<!-- /.col -->

		<div class="col-md-6">
			<!-- TABLE: LATEST ORDERS -->
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Comming Soon</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                            class="fa fa-times"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">

						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">


				</div>
				<!-- /.box-footer -->
			</div>
		</div>
		<div class="col-md-6">
			<!-- TABLE: LATEST ORDERS -->
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"> Recent cases</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                            class="fa fa-times"></i></button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">

							<thead>
								<tr>
									<th></th>

									<th>Patient Name</th>
									<th>Phone</th>
									<th>stage </th>

								</tr>
							</thead>
							<tbody>
								<%recentCases.forEach((user,i)=>{%>
								<tr>

									<td>
										<%= i+1%>
									</td>

									<td>
										<%=user.type%>
									</td>
									<td>
										<%=user.patient[0].fname%>
										<%=user.patient[0].lname%>
									</td>
									<td>
										<%=user.patient[0].phone%>
									</td>
									<td>
										<%=user.stage%>
									</td>


								</tr>

								<% }) %>

							</tbody>


						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->

				<!-- /.box-footer -->
			</div>
		</div>




		<!-- /.col -->
	</div>
	<!-- /.row -->
	</section>
	<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.4.0
		</div>
		<strong>Copyright &copy; 2019<a href="github.com/Kenchir"> Hospital</a>.</strong> All rights reserved.
	</footer>

	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Create the tabs -->
		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
			<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
			<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Home tab content -->
			<div class="tab-pane" id="control-sidebar-home-tab">
				<h3 class="control-sidebar-heading">Recent Activity</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-birthday-cake bg-red"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

								<p>Will be 23 on April 24th</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-user bg-yellow"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

								<p>New phone +1(800)555-1234</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

								<p>nora@example.com</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<i class="menu-icon fa fa-file-code-o bg-green"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

								<p>Execution time 5 seconds</p>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

				<h3 class="control-sidebar-heading">Tasks Progress</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Custom Template Design
								<span class="label label-danger pull-right">70%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Update Resume
								<span class="label label-success pull-right">95%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-success" style="width: 95%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Laravel Integration
								<span class="label label-warning pull-right">50%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<h4 class="control-sidebar-subheading">
								Back End Framework
								<span class="label label-primary pull-right">68%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

			</div>
			<!-- /.tab-pane -->

			<!-- Settings tab content -->
			<div class="tab-pane" id="control-sidebar-settings-tab">
				<form method="post">
					<h3 class="control-sidebar-heading">General Settings</h3>

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

						<p>
							Some information about this general settings option
						</p>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

						<p>
							Other sets of options are available
						</p>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

						<p>
							Allow the user to show his name in blog posts
						</p>
					</div>
					<!-- /.form-group -->

					<h3 class="control-sidebar-heading">Chat Settings</h3>

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
					</div>
					<!-- /.form-group -->

					<div class="form-group">
						<label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i
                                        class="fa fa-trash-o"></i></a>
                            </label>
					</div>
					<!-- /.form-group -->
				</form>
			</div>
			<!-- /.tab-pane -->
		</div>
	</aside>
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>

	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="bower_components/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="dist/js/adminlte.min.js"></script>
	<!-- Sparkline -->
	<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<!-- jvectormap  -->
	<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- SlimScroll -->
	<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- ChartJS -->
	<script src="bower_components/chart.js/Chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="dist/js/pages/dashboard2.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="dist/js/demo.js"></script>
	<!--chart plugin-->

	<!--<script src="/scripts/chartjs-labels.js"></script>-->
	<!--Socket io-->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/scripts/socket.js"></script>
	<!--map api-->
	<script>
		function initMap() {
            // your code
        }
	</script>
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-dDXT3_ovgGRfe7Gb3khE1_jv-eWR7k4&callback=initMap">
	</script>

	<script>
	</script>

	<!--initialize chart-->

</body>

</html>